.card {
  width: 100%;
  height: 200px;
  background-color: #353535;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-title {
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

.card-actions {
  display: flex;
  gap: 8px;
}

.card-body{
  white-space: pre-line;
  overflow-y: auto;
}

.actions {
  background: none;
  border: 1px solid #777;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.actions:hover {
  background-color: #555;
}